nav{
    height: 65px;
}
.menu-main{
    display: flex;
}
.menu-main .background-menu{
    background-color: white;
    height:65px;
    width: 20%;
}
.menu-main .menu {
    height:65px;
    background-color: #a91605;
    clip-path: polygon(4% 0, 100% 0, 100% 100%, 0 100%);
    width: 80%;
    display: flex;
}
.menu-main .menu {
    display: flex;
  
}
.menu-main .menu .menu-main-left {
    width: 80%;
}.menu-main .menu .menu-main-left ul{
    display: flex;
}
.menu-main .menu .menu-main-left ul li{
    list-style: none;
    justify-content: center;
    display: block;
}
.menu-main .menu .menu-main-left ul li a{
    text-decoration: none;
    color:white;
    font-family: 'Open Sans ExtraBold';
    font-size: 12px;
    justify-content: center;
    display: block;
    margin-top: 25px;
    border-right:1px solid #dfdfdf;
    padding-right: 30px;
    padding-left: 30px;

}
.menu-main .menu .menu-main-left ul li a:hover{
    color:#a91605;
    background-color: white;
  
}
.menu-main .menu .menu-search{
    width: 20%;
} 
.menu-main .menu .menu-search button:focus{
    outline: none;
}
.fa-search{
    color:white;
    margin-top: 25px;
    text-align: right;
   

}

